################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimGameUnity/Library
/SimGameUnity/Logs
/SimGameUnity/obj/Debug
/SimGameUnity/.vs/
/SimGameUnity/Packages
/SimGameUnity/Temp
*.csproj
*.sln
